{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "none",
  "printWidth": 150,
  "useTabs": false,
  "proseWrap": "always",
  "requirePragma": false,
  "insertPragma": false
}
